{% load staticfiles %}
<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Text to Speach Synthesizer</title>

    <!-- Bootstrap core CSS -->
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/node_modules/bootstrap-social/bootstrap-social.css" rel="stylesheet">
    <link href="/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <body>

    <div class="container">
      <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Text to Speach генератор</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_anonymous %}
            <li><a><span class="fa fa-user"></span> Вы не вошли</a></li>
        {% else %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-icon fa-user"></i>
                  {{ request.user }}
                  <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                  <li><a href="/logout/">Выйти <i class="fa fa-icon fa-sign-out"></i></a></li>
              </ul>
            </li>
          {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

      <div class="well well-sm image-font">
        <div class="container-fluid">
                <div class="col-md-6">
                    <form id='1' method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                        <div class="form-group">
                            <textarea class="form-control" cols="40" id="id_text" name="text" placeholder="Введите текст" rows="4"></textarea>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <button form="1" type="button" id="generate_button" class="btn btn-primary btn-lg" disabled ><i class="fa fa-refresh"></i> Сгенерировать аудио-файл</button>
                    <p></p>
                    <a id="download_button" target="_blank" class="btn btn-primary btn-lg " disabled><i class="fa fa-download"></i> Скачать</a>
                    <a id="play_button" target="_blank" class="btn btn-success btn-lg " disabled><i class="fa fa-play"></i> Прослушать</a>
                    <audio id='audio_block' src="" controls class="hidden">
                        <p>Your browser does not support the <code>audio</code> element.</p>
                    </audio>
                </div>
                <!-- /.row -->
        </div>
          Авторизация:
            <a class="btn btn-social-icon btn-vk" href="/login/vk-oauth2"><span class="fa fa-vk"></span></a>
            <a class="btn btn-social-icon btn-facebook disabled" href="/login/facebook"><span class="fa fa-facebook"></span></a>
            <a class="btn btn-social-icon btn-facebook disabled" href="/login/facebook-app"><span class="fa fa-facebook"></span></a>
            <a class="btn btn-social-icon btn-twitter disabled" href="/login/twitter"><span class="fa fa-twitter"></span></a>
            <a class="btn btn-social-icon btn-google disabled" href="/login/yandex-oauth2"><span class="fa fa-">Y</span></a>
            <a class="btn btn-social-icon btn-google disabled" href="/login/yaru"><span class="fa fa-">Я</span></a>
          Авторизированнй клиент имеет больше возможностей для генерации wav
      </div>

      <footer class="footer">
        <p>© 2016 <a href="http://soft-way.biz">Soft-way</a></p>
      </footer>
{#    </div>#}
    </div> <!-- /container -->
<div></div>
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="{% static 'core/js/buttons_handlers.js'%}" ></script>
</body>
</html>